.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.finance-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


table {
  
  width: 800px;
  border-spacing: 0px;
}

th {
  border: 1px solid black;
  height: 30px;
}

td {
  text-align: center;
  border: 1px solid rgb(147, 143, 143);
  height: 25px;
}

.sort-icon {
  float: right;
  cursor: pointer;
}